# <center>Atualizando a planilha com Agrupamentos e Desdobramentos<center>

In [1]:
1+1

2

### Bibliotecas utilizadas

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Lendo o arquivo com as informações de compra e venda de ações

In [2]:
arquivo_investimentos = pd.read_excel("ativos_com_acoes_extra.xlsx", sheet_name=['RendaVariavel'])
df_invest = arquivo_investimentos['RendaVariavel']
df_invest_original = df_invest.copy()
#As colunas quantidade e valor serão completadas com os valores atualizados de split/inplit

In [3]:
df_invest_original.head()

,Unnamed: 0,data,nome investimento,quantidade original,valor original,aporte,quantidade,valor
0,0,2013-03-05,WEGE3,20,2.70,54.0,NaN,NaN
1,1,2015-03-03,WEGE3,-10,3.16,-31.6,NaN,NaN
2,2,2015-05-05,MGLU3,60,0.16,9.6,NaN,NaN
3,3,2016-04-01,WEGE3,30,5.06,151.8,NaN,NaN
4,4,2017-12-05,MGLU3,50,1.75,87.5,NaN,NaN

# Importando o arquivo .py que contém as funções auxiliares utilizadas neste minicurso
- Este arquivo funcoes_auxiliares.py deve estar salvo na mesma pasta dos demais arquivos

In [4]:
import funcoes_auxiliares as fa

# Verificando as informações da base de dados utilizadas

In [9]:
inf_MGLU3 = fa.get_information('MGLU3',df_invest_original)

In [13]:
inf_MGLU3.head()

            Open  High   Low  Close    Volume  Dividends  Stock Splits
Date
2015-05-05  0.16  0.16  0.16   0.16  26752000        0.0           0.0
2015-05-06  0.16  0.17  0.16   0.17  20752000        0.0           0.0
2015-05-07  0.17  0.17  0.16   0.16  19622400        0.0           0.0
2015-05-08  0.16  0.16  0.15   0.15  71196800        0.0           0.0
2015-05-11  0.15  0.15  0.15   0.15  24387200        0.0           0.0

In [11]:
inf_MGLU3[inf_MGLU3['Dividends']>0]

             Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
2017-04-26   0.78   0.80   0.78   0.79   8985600   0.003974           0.0
2017-12-20   2.04   2.11   2.01   2.10  35910400   0.012378           0.0
2018-04-17   2.94   2.95   2.90   2.93  25520000   0.008265           0.0
2019-01-02   5.47   5.64   5.43   5.64  27017600   0.018522           0.0
2019-04-16   4.96   5.04   4.91   4.95  23929600   0.011571           0.0
2019-10-08   9.42   9.50   9.23   9.26  42653200   0.018402           0.0
2020-01-02  11.78  12.03  11.63  12.03  29600800   0.008947           0.0
2020-04-14  10.64  10.77  10.51  10.64  45244400   0.179508           0.0
2020-07-31  20.91  21.05  19.87  20.05  45544000   0.023541           0.0
2020-08-03  20.27  20.66  19.90  20.61  37955600   0.094176           0.0
2020-12-30  25.35  25.64  24.93  24.93  19188700   0.026301           0.0
2021-07-06  21.14  21.43  20.95  21.07  19834500   0.015494           0.0

In [12]:
inf_MGLU3[inf_MGLU3['Stock Splits']>1]

             Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
2017-09-05   2.39   2.59   2.35   2.46  95350400        0.0           8.0
2019-08-06   8.66   9.01   8.64   8.90  69824400        0.0           8.0
2020-10-14  26.45  27.20  25.00  25.63  83598100        0.0           4.0

# Criando um data frame com as informações atualizadas de inplit-split

In [5]:
df_invest_atualizado = fa.principal_desdobramentos(df_invest_original.copy())

In [6]:
df_invest_atualizado

,data,nome investimento,quantidade original,valor original,aporte,quantidade,valor
0,2013-03-05,WEGE3,20,2.70,54.0,135.2,0.399408
1,2015-03-03,WEGE3,-10,3.16,-31.6,-52.0,0.607692
2,2015-05-05,MGLU3,60,0.16,9.6,1920.0,0.005000
3,2016-04-01,WEGE3,30,5.06,151.8,78.0,1.946154
4,2017-12-05,MGLU3,50,1.75,87.5,1600.0,0.054688
5,2019-01-22,ITSA4,100,12.72,1272.0,100.0,12.720000
6,2019-05-13,ABEV3,55,17.00,935.0,55.0,17.000000
7,2019-05-13,WEGE3,50,18.10,905.0,100.0,9.050000
8,2019-05-13,EGIE3,20,42.43,848.6,20.0,42.430000
9,2019-12-19,ABEV3,-55,19.06,-1048.3,-55.0,19.060000
10,2019-12-19,VIIA3,20,11.20,224.0,20.0,11.200000
11,2019-12-20,OIBR3,200,0.89,178.0,200.0,0.890000
12,2020-01-09,PETR4,30,30.52,915.6,30.0,30.520000
13,2020-03-02,MGLU3,30,12.40,372.0,120.0,3.100000
14,2020-03-10,PETR4,30,17.60,528.0,30.0,17.600000
15,2020-03-10,VIIA3,50,10.60,530.0,50.0,10.600000
16,2020-03-20,VIIA3,100,5.35,535.0,100.0,5.350000
17,2020-04-24,GGBR3,55,9.52,523.6,55.0,9.520000
18,2020-07-28,WEGE3,-20,68.87,-1377.4,-40.0,34.435000
19,2020-12-15,EGIE3,-20,43.95,-879.0,-20.0,43.950000
20,2021-01-15,VILG11,10,122.29,1222.9,10.0,122.290000
21,2021-02-22,VILG11,8,121.20,969.6,8.0,121.200000
22,2021-02-22,VIIA3,81,13.00,1053.0,81.0,13.000000
23,2021-03-30,CMIN3,200,9.19,1838.0,200.0,9.190000
24,2021-04-28,MGLU3,50,20.80,1040.0,50.0,20.800000
25,2021-07-05,VIVT3,20,45.33,906.6,20.0,45.330000
26,2021-07-20,GGBR3,20,25.52,510.4,20.0,25.520000

In [8]:
import xlsxwriter
writer_portfolio = pd.ExcelWriter('ativos_com_acoes_extra.xlsx', engine='xlsxwriter')
df_invest_original.to_excel(writer_portfolio, index=True, sheet_name='RendaVariavel')
df_invest_atualizado.to_excel(writer_portfolio, index=True, sheet_name='RendaVariavelAjustado')
writer_portfolio.save()

# Lendo o arquivo que você acabou de salvar

In [9]:
arquivo_que_acabei_de_salvar = pd.read_excel("ativos_com_acoes_extra.xlsx", sheet_name=['RendaVariavelAjustado'],
                                             index_col = 0)
arquivo_que_acabei_de_salvar['RendaVariavelAjustado']

,data,nome investimento,quantidade original,valor original,aporte,quantidade,valor
0,2013-03-05,WEGE3,20,2.70,54.0,135.2,0.399408
1,2015-03-03,WEGE3,-10,3.16,-31.6,-52.0,0.607692
2,2015-05-05,MGLU3,60,0.16,9.6,1920.0,0.005000
3,2016-04-01,WEGE3,30,5.06,151.8,78.0,1.946154
4,2017-12-05,MGLU3,50,1.75,87.5,1600.0,0.054688
5,2019-01-22,ITSA4,100,12.72,1272.0,100.0,12.720000
6,2019-05-13,ABEV3,55,17.00,935.0,55.0,17.000000
7,2019-05-13,WEGE3,50,18.10,905.0,100.0,9.050000
8,2019-05-13,EGIE3,20,42.43,848.6,20.0,42.430000
9,2019-12-19,ABEV3,-55,19.06,-1048.3,-55.0,19.060000
10,2019-12-19,VIIA3,20,11.20,224.0,20.0,11.200000
11,2019-12-20,OIBR3,200,0.89,178.0,200.0,0.890000
12,2020-01-09,PETR4,30,30.52,915.6,30.0,30.520000
13,2020-03-02,MGLU3,30,12.40,372.0,120.0,3.100000
14,2020-03-10,PETR4,30,17.60,528.0,30.0,17.600000
15,2020-03-10,VIIA3,50,10.60,530.0,50.0,10.600000
16,2020-03-20,VIIA3,100,5.35,535.0,100.0,5.350000
17,2020-04-24,GGBR3,55,9.52,523.6,55.0,9.520000
18,2020-07-28,WEGE3,-20,68.87,-1377.4,-40.0,34.435000
19,2020-12-15,EGIE3,-20,43.95,-879.0,-20.0,43.950000
20,2021-01-15,VILG11,10,122.29,1222.9,10.0,122.290000
21,2021-02-22,VILG11,8,121.20,969.6,8.0,121.200000
22,2021-02-22,VIIA3,81,13.00,1053.0,81.0,13.000000
23,2021-03-30,CMIN3,200,9.19,1838.0,200.0,9.190000
24,2021-04-28,MGLU3,50,20.80,1040.0,50.0,20.800000
25,2021-07-05,VIVT3,20,45.33,906.6,20.0,45.330000
26,2021-07-20,GGBR3,20,25.52,510.4,20.0,25.520000